# Create a bot via @BotFather on Telegram, copy the token it gives you.
TELEGRAM_BOT_TOKEN=

# Send any message to your bot, then replace <TOKEN> below with your actual
# bot token and open the resulting URL in your browser:
# https://api.telegram.org/bot<TOKEN>/getUpdates
# and copy the "chat":{"id": ...} value.
TELEGRAM_CHAT_ID=
