@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #111214;
  color: #f5f5f4;
}

html {
  scroll-snap-type: y proximity;
}

.scene-snap-point {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}
